{
  "extends": "airbnb-base",

  "parserOptions": {
    "sourceType": "strict"
  },

  "env": {
    "node": true
  },

  "rules": {
    "global-require": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-console": [1, { "allow": ["warn", "error", "info"] }],
    "no-empty": [2, { "allowEmptyCatch": true }]
  },

  "globals": {
    "PWD": true,
    "ENV": true
  }
}
